<section>

</section>
<div class="bg-[#ECEFF1]">
    <div class="block md:flex justify-between items-center mt-14 px-14 py-5 ">
        <div class="w-full md:w-3/5">
            <a id="logo-light" class="">
                <img src="assets/firstbanklogo2.png" style="width:90px; height:60px" class="h-10 inline logo-class"
                    alt="" />
            </a>
        </div>
        <div class="w-full md:w-2/5 flex justify-between items-center text-[#003B65] font-medium">
            <div>
                <p class="text-sm">CATEGORIES</p>
            </div>
            <div>
                <p class="text-sm">BLOG</p>
            </div>
            <div>
                <p class="text-sm">SUBSCRIBE</p>
            </div>
            <div>
                <p class="text-sm">CONTACT</p>
            </div>
        </div>
    </div>
    
    
    <!-- <div class="container-class">
        <div class="pt-28 px-10 ">
            <p class="text-3xl md:text-4xl font-medium mt-5 text-white">FBN PODCAST</p>
            <p class="text-xl text-white md:text-xl pt-5 font-medium">Enjoy amazing discussions about life</p>
            <p class="text-xl text-white md:text-xl font-medium">solutions that will transform</p>
            <p class="text-xl text-white md:text-xl font-medium">your everyday on the go</p>
    
        </div>
    </div> -->

    <div class="relative container-class h-screen bg-cover bg-center" >
        <div class="absolute inset-0 flex items-center justify-start ">
            <div class="bg-black bg-opacity-50 p-5">
                <p class="text-3xl md:text-4xl font-medium mt-5 text-white">FBN PODCAST</p>
                <p class="text-xl text-white md:text-xl pt-5 font-medium">Enjoy amazing discussions about life</p>
                <p class="text-xl text-white md:text-xl font-medium">solutions that will transform</p>
                <p class="text-xl text-white md:text-xl font-medium">your everyday on the go</p>
            </div>
        </div>
    </div>
    
    
    <div class="px-14 py-10 text-[#003B65] ">
        <p>PODCAST</p>
        <p class="text-lg">Recent Episodes</p>
    
    </div>
    
    <app-economic></app-economic>
    <app-first-monie-card></app-first-monie-card>
    <app-featured-card></app-featured-card>
    <app-footer></app-footer>
</div>
