.container-class {
   
    // background: url(/assets/fbn-personal2.png);
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    // position: relative;
    height: 80vh;
  }

