<section>
    
</section>
<div class="block md:flex justify-between items-center mt-14 px-14 py-5">
    <div class="w-full md:w-3/5">
        <a id="logo-light" class="">
            <img src="assets/firstbanklogo2.png" style="width:90px; height:60px" class="h-10 inline logo-class"
                alt="" />
        </a>
    </div>
    <div class="w-full md:w-2/5 flex justify-between items-center text-[#003B65] font-medium">
        <div>
            <p class="text-sm">CATEGORIES</p>
        </div>
        <div>
            <p class="text-sm">BLOG</p>
        </div>
        <div>
            <p class="text-sm">SUBSCRIBE</p>
        </div>
        <div>
            <p class="text-sm">CONTACT</p>
        </div>
    </div>
</div>


<div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
    data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center"
    class="container-class text-center">
    <div class="pt-28 px-10 lg:pt-40 lg:px-32">
        <p class="text-3xl md:text-4xl font-medium mt-14 text-white">Welcome to BPP Homes</p>
        <p class="text-xl text-white md:text-xl pt-5 font-medium">
            At BPP HOMES our vision is to establish a global network boutique in real estate company with a strong local
            and global brand of affordable housing for both low and high-income earners. With a high conglomerate of
            very
            experienced staff network offering professional services to improve the accessibility to housing benefits
            for
            all our clients, you are sure of longer guaranteed services.
        </p>
    </div>

    <p class="pt-8 "><span
            class="text-xl rounded-lg cursor-pointer hover:bg-white hover:text-blue-400 font-medium global-background text-white py-3 px-7">CONTACT
            US</span></p>

</div>