<div class="block md:flex justify-between items-center mt-14 px-14 py-5">
    <div class="w-full md:w-3/5">
        <a id="logo-light" class="">
            <img src="assets/firstbanklogo2.png" style="width:90px; height:60px" class="h-10 inline logo-class" alt="" />
          </a>
    </div>
    <div class="w-full md:w-2/5 flex justify-between items-center text-[#003B65] font-medium">
        <div><p class="text-sm">CATEGORIES</p></div>
        <div><p class="text-sm">BLOG</p></div>
        <div><p class="text-sm">SUBSCRIBE</p></div>
        <div><p class="text-sm">CONTACT</p></div>
    </div>
</div>