<div class="py-5">
    <div class="md:px-64 flex flex-wrap md:flex-nowrap w-full text-[#003B65] font-normal cursor-pointer">
      <p class="mx-2 my-2 md:my-0"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">ALL</span></p>
      <p class="mx-2 my-2 md:my-0"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">LOAN</span></p>
      <p class="mx-2 my-2 md:my-0"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">INSURANCE</span></p>
      <p class="mx-2 my-2 md:my-0"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">WAYS TO BANK</span></p>
      <p class="mx-2 my-2 md:my-0"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">FAMILY</span></p>
    </div>
  </div>
  