<div class="px-12 py-5">

    <div class="px-8 md:px-64    flex w-full nugget color-[#003B65] font-normal cursor-pointer">
        <p class="mx-2"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">ALL</span></p>
        <p class="mx-2"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">LOAN</span></p>
        <p class="mx-2"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">INSURANCE</span></p>
        <p class="mx-2"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">WAYS TO BANK</span></p>
        <p class="mx-2"><span class="bg-[#F0BD2D] hover:bg-[#003B65] hover:text-white py-2 px-5">FAMILY</span></p>
    </div>

</div>