<div class="nav-container shadow-lg py-1 bg-[#003B65] text-white">
    <header class="lg:px-10 px-6 flex flex-wrap items-center lg:py-0 ">
        <div class="flex-1 flex justify-between items-center py-5 lg:py-0">
            <nav class="hidden lg:flex">
                <ul class="lg:flex items-center justify-between text-base pt-4 lg:pt-0 font-normal">
                    <li class="cursor-pointer"><a routerLink="/home" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-0 block border-b-2 border-transparent text-sm">
                            <span>HOME</span></a></li>
                    <li class="cursor-pointer"><a routerLink="/about" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-0 block border-b-2 border-transparent text-sm">
                            <span>PERSONAL</span></a></li>
                    <li class="cursor-pointer"><a routerLink="/projects" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-0 block border-b-2 border-transparent text-sm">
                            <span>BUSINESS</span></a></li>
                    <li class="cursor-pointer"><a routerLink="/bpp-news" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-0 block border-b-2 border-transparent text-sm">
                            <span>PRIVATE</span></a></li>

                </ul>
            </nav>
        </div>
        <div (click)="toggle()">
            <ng-container *ngIf="!show; else hideHamBurger">
                <label class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900"
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <title>menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                    </svg>
                </label>
                <input class="hidden" type="checkbox" />
            </ng-container>
            <ng-template #hideHamBurger>
                <div class="fill-current">
                    <img src="assets/close1.svg" alt="">
                    <input class="hidden" type="checkbox" />
                </div>

            </ng-template>

        </div>


        <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
            <nav>
                <ul class="lg:flex items-center justify-between text-base pt-4 lg:pt-0 font-normal">

                    <li class="cursor-pointer"><a routerLink="/bpp-news" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-0 block border-b-2 border-transparent text-sm"> <span>SELECT
                                LANGUAGE</span></a></li>
                    <li class="cursor-pointer"><a routerLink="/contact" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-0 block border-b-2 border-transparent text-sm">
                            <span>SUSTAINANBILITY</span></a></li>

                    <li class="cursor-pointer"><a routerLink="/what-we-do" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-0 block border-b-2 border-transparent  text-sm">
                            <P class="text-center"><span><img src="assets/Nigeria.png" style="width:25px; height:10px"
                                        class="h-10 px-1 mb-1 inline logo-class" alt="" /></span>NIGERIA</P>
                        </a></li>
                </ul>
            </nav>


        </div>
        <div>

        </div>

        <div class="lg:flex lg:items-center lg:w-auto w-full" *ngIf="show">
            <nav class="">
                <ul class="lg:flex items-center justify-between text-base pt-4 lg:pt-0">
                    <li class="cursor-pointer"><a routerLink="/home" routerLinkActive="active-link"
                            class="nav-link lg:p-4 py-3 px-2 block border-b-2 border-transparent   "><span>Home</span></a>
                    </li>
                    <li class="cursor-pointer"><a routerLink="/about" routerLinkActive="active-link"
                            class="nav-link lg:p-4 py-3 px-2 block border-b-2 border-transparent  "><span>PERSONAL</span></a>
                    </li>
                    <li class="cursor-pointer"><a routerLink="/projects" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-2 block border-b-2 border-transparent  "><span>Communites</span></a>
                    </li>
                    <li class="cursor-pointer"><a routerLink="/bpp-news" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-2 block border-b-2 border-transparent  "> <span>BUSINESS</span></a>
                    </li>
                    <li class="cursor-pointer"><a routerLink="/contact" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-2 block border-b-2 border-transparent  ">
                            <span>PRIVATE</span></a></li>
                    <li class="cursor-pointer"><a routerLink="/what-we-do" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-2 block border-b-2 border-transparent  ">
                            <span>SELECT LANGUAGE</span></a></li>
                    <li class="cursor-pointer"><a routerLink="/what-we-do" routerLinkActive="active-link"
                            class="lg:p-4 py-3 px-2 block border-b-2 border-transparent  ">
                            <span>SUSTAINANBILITY</span></a></li>

                    <li class="cursor-pointer"><a routerLink="/what-we-do" routerLinkActive="active-link"
                        class="lg:p-4 py-3 px-2 block border-b-2 border-transparent ">
                            <P class=""><span><img src="assets/Nigeria.png" style="width:25px; height:10px"
                                        class="h-10 px-1 mb-1 inline logo-class" alt="" /></span>NIGERIA</P>
                        </a></li>

                </ul>
            </nav>


        </div>

    </header>
</div>



